:root {
    --fonte-principal: Arial, Helvetica, sans-serif;

    --cor1:#ffe5ec;
    --cor2:#ffc2d1;
    --cor3:#ffb3c6;
    --cor4:#ff8fab;
    --cor5:#fb6f92;
    --cor6:white;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor1);
}

.titulo {
    color: var(--cor5);
    text-align: center;
    padding: 16px 0 32px 0;
}

.passo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
}

.passo h2 {
    color: var(--cor5);
}

.servico {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 32px;
}

.servico button {
    width: 45%;
    height: 120px;
    border: solid var(--cor5);
    border-radius: 20px;
    background-color: var(--cor3);
    font-size: 20px;
    color: var(--cor6);
}

.botao:hover {
    text-decoration:underline;
}

.botao.selecionado {
    background-color: var(--cor5);
    text-decoration:underline;
  }

.servico.selecionado {
    background-color: var(--cor5);
}

.botoes {
    display: flex;
    gap: 32px;
}

.botoes button {
    width: 130px;
    height: 50px;
    border: solid var(--cor5);
    border-radius: 20px;
    background-color: var(--cor4);
    font-size: 20px;
    color: var(--cor6);
    
}

.botoes button:hover {
    background-color: var(--cor5);
    cursor: pointer;
}

.data, .horario {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 16px;
}

.data button {
    border: solid var(--cor5);
    background-color: var(--cor3);
    font-size: 13px;
    color: var(--cor6);
    width: 62px;
    height: 60px;

}

.horario button {
    border: solid var(--cor5);
    background-color: var(--cor3);
    font-size: 16px;
    color: var(--cor6);
    width: 100px;
    height: 30px;
}

.passo input {
    width: 300px;
    height: 50px;
    border: solid var(--cor5);
    font-size: 20px;
    padding-left: 16px;
    color: var(--cor5);
    font-weight: 700;
}

.passo input::placeholder {
    color: var(--cor5);
    font-weight: 400;
    opacity: 0.5;
}